#removeProduct.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.w-100= "Sortir un produit"
      = form_tag products_path, data: {component: 'Products', do: 'create', on: 'submit'} do
        .modal-body
          %h3= @product.name
          %p= "Réf: #{@product.reference}"
          %br
          %form-group
            %label.form-label
              = "Quantité à sortir"
              %em= '*'
              %span.error{'data-product-errors' => 'reference'}
            = text_field_tag 'product[reference]', nil, class: 'form-control'

          %form-group
            %label.form-label
              = "Commande"
              %em= '*'
              %span.error{'data-product-errors' => 'name'}
            = text_field_tag 'product[name]', nil, class: 'form-control'

        .modal-footer
          = submit_tag "Enregistrer", class: 'btn btn-primary pull-right'
          %button.btn.btn-secondary.pull-right{:type => "button", "data-dismiss" => "modal"}= "Fermer"
