<!DOCTYPE html>
<html>
  <head>
    <title>Cedric</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-primary">
      <a type='button', class='pull-right btn-floating btn-large btn-add waves-effect waves-light' data-toggle="modal" data-target="#createProduct"><i>+</i></a>
      <form class="form-inline pull-xs-right">
          <input id='search' class="form-control" type="text" placeholder="Rechercher un produit ou un #emplacement..." class='col-md-12'>
      </form>
    </nav>

    <div class='main-wrapper'>
      <div class='container-fluid'>
        <%= yield %>
      </div>

    </div>
    <%= render partial: '/modals/create' %>

  </body>
</html>
